.form-table td p {
    margin-top: 8px;
    margin-bottom: 0;
}

tr.bp-wc-vendors-disabled th label b::after, p.bp-wc-vendors-disabled::after {
    width: 72px;
    height: 25px;
    padding: 0;
    clear: both;
    display: inline;
    float: left;
    content: "Pro Feature";
    text-align: center;
    font-size: 11px;
    line-height: 2.1;
    background: rgba(255, 24, 46, 0.56);
    color: #fff;
    border-radius: 5px;
    position: relative;
    margin-right: 10px;
    margin-bottom: 3px;
}

div#bp-wc-vendors-shortcode-result {
    background-color: #fff;
    padding: 10px;
}

